body {
    background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);
    background-size: cover;
    background-position: center; 
    font-family: 'Lato', sans-serif;
	color: white;
}

#content {
	text-align: center;
	padding-top: 19%;
}

i{
	padding: 0px 5px;
}

hr{
	border-top: 1.4px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	width: 400px;
}

html{
	height: 100%;
}

h1 {
	font-weight: 700;
	font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
h3 {

	text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
				 0px 4px 8px rgba(0,0,0,0.1),
				 0px 8px 12px rgba(0,0,0,0.1);
}
